/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

/* Estilos del encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: calc(100% - 20px);
  max-width: 100%;
  top: 0;
  z-index: 999;
}

.dropbtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dropbtn:hover {
  background-color: #45a049;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos del contenido principal */
main {
  padding-top: 120px;
  display: flex;
  justify-content: center; /* Centra los elementos en el eje horizontal */
}

.catalogo {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalogo li {
  margin: 20px;
  width: 250px;
  text-align: center;
  position: relative;
}

.catalogo li a {
  text-decoration: none;
  color: #333;
}

.catalogo li h2 {
  margin: 10px 0;
}

.catalogo li p {
  margin: 5px 0;
  color: #777;
}

.catalogo img {
  max-width: 100%;
}

.catalogo .tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.catalogo li:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0s;
}

/* Ajustes para la descripción */
.descripcion {
  margin-top: 80px; /* Agrega un margen superior para dejar espacio para el encabezado */
  padding: 20px; /* Añade un relleno para que la descripción no quede pegada a los bordes */
  background-color: #f9f9f9; /* Agrega un color de fondo para resaltar la descripción */
  border-bottom: 1px solid #ddd; /* Añade una línea divisoria debajo de la descripción */
}

.descripcion p {
  margin: 10px 0; /* Espacio entre cada párrafo de la descripción */
}

/* Ajustes responsivos */
@media only screen and (max-width: 600px) {
  .descripcion {
    margin-top: 120px; /* Ajusta el margen superior para dispositivos móviles */
  }

  main {
    padding-top: 110px;
  }

  .catalogo li {
    margin: 10px;
  }
}

.back-btn {
  background-color: #6c61aa;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: #555;
}

/* Estilos para los videos */
.catalogo video {
  max-width: 100%;
  height: auto;
}
