body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}


h1 {
  margin: 0;
}

.dropbtn {
  background-color: #4CAF50; /* Cambiamos el color de fondo del botón */
  color: #fff;
  padding: 15px 20px; /* Aumentamos el tamaño del botón */
  font-size: 16px; /* Aumentamos el tamaño del texto */
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Añadimos bordes redondeados */
  transition: background-color 0.3s; /* Agregamos transición para cambiar de color al pasar el cursor */
}

.dropbtn:hover {
  background-color: #45a049; /* Cambiamos el color de fondo al pasar el cursor */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding-top: 120px; /* Ajustamos el padding-top para evitar que el contenido se solape con el header y se vea la primera imagen */
}

.catalogo {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalogo li {
  margin: 20px;
  width: 250px;
  text-align: center;
  position: relative; /* Para posicionar el tooltip */
}

.catalogo img {
  max-width: 100%;
}

.catalogo .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.catalogo li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  header {
    max-width: 90%; /* Establecemos un ancho máximo para centrar el header */
    margin: auto; /* Centramos horizontalmente */
  }
  
  main {
    padding-top: 200px; /* Ajustamos el padding-top del main en dispositivos móviles */
  }
  
  .catalogo li {
    margin: 10px; /* Reducimos el margen de los elementos en dispositivos móviles */
  }
}

